
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-image: 
    linear-gradient(rgba(58, 57, 57, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(53, 52, 52, 0.05) 1px, transparent 1px);
  background-size: 100px 100px;
}

.services {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: 
  linear-gradient(rgba(58, 57, 57, 0.05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(53, 52, 52, 0.05) 1px, transparent 1px);
  background-size: 100px 100px;
  transition: all 0.3s ease-in-out;
}

.services .container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #2e5077;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.section-title::after {
  content: '';
  width: 80px;
  height: 4px;
  background: rgba(255, 193, 7, 0.7);
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

/* Services Grid */
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  padding: 0 20px;
}

.service-card {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  /* border: 5px dotted #ffc107; */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.service-image {
  width: 100%;
  height: 150px;
  padding: 12px;
  background-color: rgba(46, 80, 119, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border: 2px solid rgba(46, 80, 119, 0.3); */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.service-image:hover {
  background-color: rgba(46, 80, 119, 0.15);
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}


.service-image img {
  width: auto;
  height: 100%;
  object-fit: contain;
  /* border-radius: 12px 12px 0 0;*/
} 

.service-content {
  padding: 15px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-description {
  margin-top: 10px;
  font-family: "josefin Sans";
  font-size: 0.9rem;
  color: black;
  line-height: 1.4;
  margin-bottom: 15px;
  opacity: 0.85;
  max-width: 85%;
  padding-top: 5px;
  border-radius: 15px;
}

.service-card:hover .service-description {
  opacity: 1;
}

.learn-more-btn {
  padding: 12px 28px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: #2e5077;
  color: #2e5077;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}

.learn-more-btn:hover {
  color: black;
}

.learn-more-btn .text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #2e5077;
  transition: width 0.3s ease-in-out;
}

.learn-more-btn:hover .text::after {
  width: 100%;
}

@media (min-width:320px) and (max-width: 420px){
  .services-list {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0 10px;
  }
  .exclusive-service-card{
    display: none;
  }

  .service-card {
    margin: 0;
    padding: 10px;
  }

  .service-image {
    margin: 10px 10px;
    height: 150px;

  }

  .service-content {
    padding: 10px;
  }

  .service-description {
    font-size: 0.85rem;
    margin-top: 15px;
  }

  .learn-more-btn {
    padding: 10px 20px;
    font-size: 11px;
  }
}
@media (min-width: 420px) and (max-width: 768px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px;
    justify-items: center;
  }

  .service-card {
    width: 85%;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .service-image {
    margin: 10px 0px;
    height: 150px;
    object-fit: cover;
    width:95%;
  }

  .service-content {
    padding: 10px;
  }

  .service-description {
    font-size: 0.85rem;
    margin-top: 15px;
  }

  .exclusive-service-card {
    display: none;
  }

  .learn-more-btn {
    padding: 10px 20px;
    font-size: 11px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }

  .service-card {
    width: 85%;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .service-card:nth-child(odd) {
    transform: translateY(20px);
  }

  .service-card:nth-child(even) {
    transform: translateY(-20px);
  }
  .it-support-card{
    margin-top: 40px;
  }

  .service-image {
    margin: 10px 0px;
    height: 180px;
    object-fit: cover;
    width: 95%;
  }

  .service-content {
    padding: 10px;
  }

  .service-description {
    font-size: 0.85rem;
    margin-top: 15px;
  }

  .exclusive-service-card {
    display: none;
  }

  .learn-more-btn {
    padding: 10px 20px;
    font-size: 11px;
  }
  .apps-development-card{
    margin-top: 30px;
  }
  .cloud-solutions-card{
    margin:0px;
  }

}
@media (min-width: 1024px) and (max-width: 1900px) {
  .service-image {
    margin: 15px auto;
    height: 180px;
    object-fit: cover;
    width: 90%;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    padding: 0 20px;
    max-width: 90%;
    margin: 0 auto; 
  }
  .service-title-2 {
    margin-top: 5px;
    font-size: 28px;
  }
}



/* @media only screen and (max-width: 768px) {
  .services-list {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0 10px;
  }

  .service-card {
    margin: 0;
    padding: 10px;
  }

  .service-image {
    margin: 10px 0;
    height: 120px;
  }

  .service-content {
    padding: 10px;
  }

  .service-description {
    font-size: 0.85rem;
    margin-top: 15px;
  }

  .learn-more-btn {
    padding: 10px 20px;
    font-size: 11px;
  }
} */
.exclusive-service-card {
  position: relative;
  background: rgba(255, 193, 7, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  border: 6px double #2e5077;
  color: #2e5077;
  text-align: center;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border 0.4s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exclusive-service-card .service-icon {
  font-size: 2.8rem;
  color: #2e5077;
  margin-bottom: 12px;
  transition: transform 0.3s ease-in-out;
}

.exclusive-service-card:hover .service-icon {
  transform: scale(1.1);
}

.exclusive-service-card .service-title-2 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 0.8px;
  color: #2e5077;
  margin-top: 20px;
}

.exclusive-service-card .service-title-2::after {
  content: "";
  width: 80px;
  height: 4px;
  background: rgba(255, 193, 7, 0.7);
  display: block;
  margin: 5px auto 0;
  border-radius: 10px;
}

.exclusive-service-card .service-description {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(46, 80, 119, 0.85);
  font-weight: 500;
  padding: 0 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.exclusive-service-card .learn-more-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 12px 24px;
  padding-right: 0px;
  background: rgba(46, 80, 119, 0.9);
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 4px 10px rgba(46, 80, 119, 0.2);
}

.exclusive-service-card .learn-more-btn:hover {
  background: #214060;
  transform: scale(1.05);
}

.exclusive-service-card .arrow {
  display: inline-block;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
  padding-top: 4px;
  background-color: #FAB12F;
}

.exclusive-service-card .learn-more-btn:hover .arrow {
  transform: translateX(5px);
}

.arrow {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2e5077; 
  color: white;
  /* padding-top: 2px; */
  font-size: 18px;

}
.learn-more-btn{
  margin-top: 10px;
  background-color:#FAB12F;
  max-height: 35px;
  border-radius:25px ;
  max-width: 250px;
  padding-left: 20px;
  padding-right: 0px;
  margin-bottom: 20px;
  text-decoration: none;
}
.service-title-2{
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family:"Josefin Sans" ;

}
.section-title-2::after{
  content: '';
  width: 80px;
  height: 4px;
  background: rgba(255, 193, 7, 0.7);
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}
.exclusive-service-card{
  border:none;
}
.service-image{
  margin-bottom: 10px;
}

.service-title-2 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Josefin Sans";
  position: relative;
  display: inline-block;
}

.service-title-2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 40%;
  height: 3px;
  /* padding: 20px; */
  background-color:#FAB12F;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.service-title-2:hover::after {
  width: 100%;
}
