.we-work-for {
  text-align: center;
  padding: 3rem 1rem;
  background-image: 
    linear-gradient(rgba(58, 57, 57, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(53, 52, 52, 0.05) 1px, transparent 1px);
  background-size: 100px 100px;
}

.title-we {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #2e5077;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
  background-color: white;
}
.title-we::after{
  content: '';
  width: 80px;
  height: 4px;
  background: rgba(255, 193, 7, 0.7);
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

.description {
  font-size: 1.125rem;
  color: black;
  text-align: center;
  max-width: 80%;
  margin: 1.5rem auto;
  line-height: 1.6;
  font-family: "Josefin Sans";
}

.description span {
  font-weight: bold;
  color: #2e5077;
  margin: 0 0.3rem;
  font-family: "Josefin Sans";
}

.cards-grid-we {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

.work-card {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 3rem;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border: 0.1875rem dotted #2e5077;
  margin: auto;
}

.work-card:hover {
  transform: translateY(-0.3125rem);
}

.icon-we {
  font-size: 1.5rem;
  color: #2e5077;
  background-color: #FAB12F;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.name-we {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e5077;
  margin-left: 0.75rem;
  flex-grow: 1;
  font-family: "Josefin Sans";
}

@media (max-width: 768px) {
  .work-card {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .icon-we {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }

  .name-we {
    margin: 0.5rem 0 0;
    font-size: 1rem;
  }
  .cards-grid-we {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.8rem;
  }

  .work-card {
    max-width: 180px;
    padding: 0.75rem;
    border-radius: 2rem;
  }
  .name-we {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .title-we {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
    max-width: 85%;
  }
}

@media (max-width: 480px) {
  .title-we {
    font-size: 1.75rem;
  }

  .description {
    font-size: 0.9375rem;
    max-width: 95%;
  }

  .work-card {
    max-width: 100%;
  }
  .cards-grid-we {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
  }

  .work-card {
    max-width: 150px;
    padding: 0.5rem;
    border-radius: 1.5rem;
  }

  .icon-we {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }

  .name-we {
    font-size: 0.85rem;
    margin-left: 0.4rem;
  }
}
